<body>
    <div class="container">
        <app-navbar></app-navbar>
        <div class="row contenedor-perfil">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <div class="row fila-perfil icono-editar">
                    <img src="assets/img/editar.png">
                </div>
                <div class="row fila-perfil foto-perfil">
                    <img src="assets/img/profile.png" class="rounded-circle" alt="image">
                </div>
                <div class="row fila-perfil datos">
                    -Correo: {{user.email}}
                </div>
                <div class="row fila-perfil datos">
                    -Nivel:
                </div>
            </div>
            <div class="col-sm">
                
            </div>
        </div>
    </div>
</body>