<body>
    <div class="container-fluid">
          <app-navbar></app-navbar>
        <div class="row titulo-leaderboards">
            <div class="col-5 columna-opciones">
                <select>
                    <option value="">Nivel</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="col-7 columna-titulo">
                <h2>LeaderBoards</h2>
            </div>
        </div>
        <div class="row tabla-leaderboards">
            <div class="col contenido-tabla">
                    <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Jugador</th>
                                <th scope="col">Nivel</th>
                                <th scope="col">Puntuación</th>
                                <th scope="col">Tiempo</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>1</td>
                                <td>3214</td>
                                <td>300s</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>1</td>
                                <td>3143</td>
                                <td>290s</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>1</td>
                                <td>2043</td>
                                <td>280s</td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Freads</td>
                                <td>1</td>
                                <td>2042</td>
                                <td>270s</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Gdza</td>
                                <td>1</td>
                                <td>2033</td>
                                <td>250s</td>
                            </tr>
                            </tbody>
                          </table>
            </div>
        </div>
    </div>
</body>